extends layout

block content
    .events
    .event-list
        ul
            - list = patterns;
            each item in list
                    li
                        .patternId= item.patternId
                        .event-header= item.event
                        - if (item.description !== null) {
                            .event-desc= item.description
                        - }

    .bg-modal
        .modal-content
            #modal-owner= username
            #modal-desc= eventDesc
            form
                p.modal-button.confirm Да
                p.modal-button Нет
    script(src="/js/lib/jquery-3.3.1.js")
    script(src='/js/event-handler.js')
    script.
        window.eventsList= !{JSON.stringify(patterns)};
        window.eventsOwner= !{JSON.stringify(username)};
