extends custom-email
block content
  p Ваша регистрация на #{event_data.title} в #{user} #{date} #{time} отменена.
block reason
  if reason
    p Причина отмены: #{reason}
  else
    p Причина отмены не указана
  