extends layout

block content
    #patternId= patternId
    #eventDuration= duration
    .submission-content
        .submission-success
            i.fa.fa-check.success#submission
            br
            #succ-message= 'УРА! Вы были успешно записаны на событие ' + eventType
        .submission-failed#1
            i.fa.fa-times.error
            br
            .message#error= 'УПС! Кто-то оказался проворнее вас. На данное событие не осталось свободных мест :('
            p= 'Попробовать записаться на другую дату/время'
        .submission-failed#2
            i.fa.fa-exclamation.warning
            br
            .message= 'Внимание! Вы уже записаны на текущее событие. Нет нужды в повторной записи.'
            p= 'Записаться на другое событие'
        .submission-failed#3
            i.fa.fa-exclamation.warning
            .message= 'Внимание! Вы уже записаны на это событие в другой день или время. Выберите более подходящий вариант.'
            p#reschedule Перепланировать
            p#cancel Оставить как было
    .timeline
        #event-header
            .top_container
                #event-name= eventType
                #event-duarion= '⌚   ' + duration + ' min'
            #event-description= description
        .timeline-content
            span.backward ❮
            ul.date-bar
                - var weekArray = ['ВС', 'ПН', 'ВТ', 'СР', 'ЧТ', 'ПТ', 'СБ']
                - var monthArray = ['Янв', 'Февр', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Ноя', 'Дек']
                - var currDate = 0
                - list = days
                - for (var i = 0; i < list.length-1; i++) {
                - currDate = new Date(list[i].date);
                    li(class= list[i].available ? "active" : '')
                        .list-full-date= currDate.getDate() + '/'+ (currDate.getMonth()+1) + '/' +currDate.getFullYear()
                        .list-day= weekArray[currDate.getDay()]
                        .list-date= currDate.getDate()
                        .list-month= monthArray[currDate.getMonth()]
                    .divider
                - }
                - currDate = new Date(list[list.length-1].date)
                li(class= list[list.length-1].available ? "active" : '')
                    .list-full-date= currDate.getDate() + '/'+ (currDate.getMonth()+1) + '/' +currDate.getFullYear()
                    .list-day= weekArray[currDate.getDay()]
                    .list-date= currDate.getDate()
                    .list-month= monthArray[currDate.getMonth()]
            span.forward ❯
        .time-container
            ul
    .submit-modal
        i.fa.fa-times.error#close-modal
        .submit-content
            #modal-owner= username
            .modal-inner
                .modal-right
                    .modal-description
                        #modal-event= eventType
                        #modal-description= description
                    .modal-time
                        .modal-date
                            i.far.fa-calendar-check
                            #modal-date
                        .modal-start
                            i.far.fa-clock
                            #modal-start
                        .modal-dur
                            i.far.fa-hourglass
                            #modal-duration= "Длительность: " + duration + ' мин'
                .modal-left
                    p#modal-message Для подтвердждения записи на событие введите ваши данные
                    form
                        .modal-container
                            label Имя:
                            br
                            input#visitorName
                            i.fa.fa-check.success
                            i.fa.fa-times.error
                            i.fa.fa-exclamation.warning
                            br
                            span.spanEmpty Поле не может быть пустым
                            span.spanInvalid Имя не может содержать цифры, спецсимволы или пробелы
                        .modal-container
                            label E-Mail:
                            br
                            input#visitorEmail(type='email', placeholder="Введите действующий e-mail адрес")
                            i.fa.fa-check.success
                            i.fa.fa-times.error
                            i.fa.fa-exclamation.warning
                            br
                            span.spanEmpty Поле не может быть пустым
                            span.spanInvalid Введите корректный адрес почты
                        p.modal-confirm Записаться
    script(src="/js/lib/jquery-3.3.1.js")
    script(src='/js/date-time-handler.js')
    script.
        window.user= !{JSON.stringify(username)};
        window.duration= !{JSON.stringify(duration)};
        window.evType= !{JSON.stringify(eventType)};
        window.evDesc= !{JSON.stringify(description)};
        window.days= !{JSON.stringify(days)};
        window.patternId= !{JSON.stringify(patternId)};
